# Laravel defaults
/vendor/
node_modules/
public/storage/
storage/*.key
storage/pail/
.env
.env.*
Homestead.json
Homestead.yaml
.phpunit.result.cache
.phpunit.cache
.phpactor.json

# Frontend build & cache
/public/build/
public/hot
npm-debug.log
yarn-error.log

# Upload directories
/public/events/
*.zip
*.tar.gz
*.tar.bz2

# IDE and editor folders
/.idea/
/.vscode/
/fleet/
/nova/
/zed/

# System and OS files
*.DS_Store
*.sql

# Composer cache
composer.lock.bak
